html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: -webkit-linear-gradient(60deg, #0F2167 50%, #4CB9E7 50%);
}   

.display-font {
    font-size: 6em;
    color: white;
    font-weight: bold;
    padding-right: 5%;
}

input {
    text-align: right;
}

.btn-font {
    font-size: 2em;
    color: white;
    font-weight: bold;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    border: 1px solid black;
    width: 30vw;
    height: 65vh;   
}

.display {
    background-color: black;
    grid-column: span 4;
    display: flex;
    justify-content: end;
    align-items: center;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    color: black;
}

.span-3 {
    grid-column: span 3;
}

.span-2 {
    grid-column: span 2;
}

.numbers {
    background-color: lightgray;
}
.numbers:hover {
    background-color: white;
}

.operators {
    background-color: orange;
}
.operators:hover {
    background-color: darkgray;
}

.non-nums {
    background-color: orange;
}
.non-nums:hover {
    background-color: darkgray;
}

