html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: -webkit-linear-gradient(60deg, #0F2167 50%, #4CB9E7 50%);
}   

.display-font {
    font-size: 3em;
    color: white;
    font-weight: bold;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    border: 1px solid black;
    width: 40vw;
    height: 75vh;   
}

.display {
    background-color: black;
    grid-column: span 4;
}

.buttons{
    display: flex;
    background-image: -webkit-linear-gradient(100deg, black 100%, #4CB9E7 0%);
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    color: white;
}

.span-3 {
    grid-column: span 3;
}

.span-2 {
    grid-column: span 2;
}